/** 
 * A very basic CSS reset:
 * More about CSS resets: https://meyerweb.com/eric/tools/css/reset/
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** 
 * Card sizing and positioning.
 * Don't mess with this!
 */
.card {
  width: 300px;
  height: 540px;
  margin: 0px auto 0 auto;
}

/** 
 * Just some styling to make the card visible.
 * Feel free to change this!
 */

.card {
  background-color: rgb(83, 83, 83);
  color: #fff;
  border-radius: 5px;
  padding-top: 10px;
}

.frame {
  background-color: rgb(169, 205, 194);
  width: 280px;
  height: 520px;
  margin: 0px auto 0 auto;
  border-radius: 10px;
  padding: 0px;
  text-align: center;
}
.image {
  margin: 0px auto 0 auto;
  border-radius: 5px;
  padding: 10px;
}

h1 {
  color: #000000;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  margin-bottom: 1px;
  text-align: center;
  }

.button {
color: #000000;
background-color: #f8bac5;
font-size: 15px;
border-radius: 30px;
padding: 10px 50px;
cursor: pointer
position absolute;
top: 100%;
}

.about {
  color: #000000;
  padding: 10px;
  font-family: Helvetica;
  font-size: 10px;
  font-weight: lighter;
  text-align: justify;
}

table {
  font-family: Helvetica;
  table-layout: fixed;
  width: 100%;
  padding-bottom: 10px;
}

.left {
  text-align: left;
  padding-left: 15px;
  font-size: 12px;
}

.right{
  text-align: left;
  font-size: 12px;
  padding-left: 15px;
}

.otsikko {
  font-size: 15px;
  text-align: left;
  padding-left: 15px;
}

th, td {
  padding: 4px;
}

.fact::before {
  content: "";
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: 20px;
  position: relative;
  top: 3px;
  margin-right: 10px;
  filter: brightness(0) invert(1);
}

.weight::before{
  background-image: url('weight.png');
}

.height::before{
  background-image: url('height.png');
}

.allergig::before{
  background-image: url('hypoallergenic.png');
}







